.home-body-wrapper{
    height: 90vh;
}
.home-body-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.your-game-text{
    font-size: 28px;
    background-color: white;
    padding: 0 0 24px 0;
}
.all-games-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.all-games-container .games .no-game-found{
    padding: 24px 0;
    font-size: 64px;
    text-align:center;
    font-family: Bilbo !important;
}
.new-game-bttn .bttn{
    padding: 12px 15px;
    background-color: #270F36;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.new-game-bttn{
    padding: 24px;
    position: fixed;
    right: 0;
    bottom: 0;
}